service: IR
package:
  exclude: 
    - .*
    - tests/**
    - scripts/**
    - node_modules/**
    - dev-dependencies/**
  include:
    - src/**

provider:
  name: aws
  runtime: python2.7
  environment: 
    TEAM_NAME: mechanicalrock
    TEAM_EMAIL: team@mechanicalrock.io
  iamRoleStatements:
    - Effect: Allow
      Action: 
        - ec2:*
        - cloudwatch:*
        - s3:*
        - ses:SendRawEmail
      Resource: "*"

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    invalidateCaches: true
    fileName: requirements.txt

resources:
  Description: Instance Reaper stack
  Resources:
    LoggingBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: instance-reaper-{team.name}-logging

functions:
  instance-reaper:
    handler: src/handler.reaper_event_handler
    memorySize: 1024
    timeout: 300
    events:
      - schedule: rate(3 hours)
